/* Fuente para el texto en general*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Fuente para los titulos*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/*Selector Universal, afecta a todo el documento HTML*/
*{
  box-sizing: border-box;
  font-family: "Montserrat";
  color: #777;
}

html{
  background-color: rgb(40, 48, 68);
}

head, body{
  margin: 0;
  padding: 0;
}

.main-header{
  background-image: url("Imagenes/Espacio.jpg");
  background-color: rgba(0, 0, 0, .6);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 20px;
}

.nav ul{
  margin: 0px;
}

.nav li{
  display: inline-table;
  
}

.nav a{
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 1em;
}

.nav a:hover{
  background-color: rgba(255, 255, 255, .3);
}

.main-nav{
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 5px solid rgba(255, 255, 255, .6);
}

.main-nav li{
  padding: 0 5%;
}

.nombre{
  text-align: center;
  margin: 0.5em;
  font-family: "Architects Daughter";
  font-weight: normal;
}


.nombre-principal{
  font-size: 4em;
  color: white;
}

/*-----Estilos de Section-----*/

.content-section{
  margin: 1em;
}

.container{
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 1.5em;
  font-size: larger;
}

.section-header{
  font-family: "Architects Daughter";
  font-size: xx-large;
  color: rgb(192, 186, 188);
}

.section-texto-index{
  font-family: "Montserrat";
  font-size: large;
  text-align: left;
  color: rgb(192, 186, 188);
}

.imagen-personal{
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 50%;
}

/*-----Estilos del Footer-----*/

.main-footer{
  background-color: rgba(202, 46, 85, 0.9);
  background-size: cover;
  padding-bottom: 20px;
}

.main-footer-container{
  display: flex;
  align-items: center;
}

.main-footer-container h3{
  color:white;
  font-weight: lighter;
}

.main-footer-container ul{
  flex-grow: 1;
  text-align: center;
}

.footer-nav li{
  padding: 0 5%;
}

.footer-nav img{
  width: 50px;
}